name: publish
on: [push]
jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: "16"
          distribution: "adopt"

      - name: publish
        run: ./gradlew publish -D maven.username=${{ secrets.GITHUB_USERNAME }} -D maven.password=${{ secrets.GITHUB_PASSWORD }}
