name: publish
on: [push]
jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: check out repository
        uses: actions/checkout@v2
      - name: set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: "16"
          distribution: "adopt"

      - name: publish
        run: ./gradlew publish -D maven.username='${{ secrets.MAVEN_USERNAME }}' -D maven.password='${{ secrets.MAVEN_PASSWORD }}'
